
<div class="myBg-img" id="pozadina" #pozadina style="background-image: url('assets/images/treeImage.jpg'); ">
    
    <div *ngIf="enteredMyself" class="row">
      <div class="col-2">
        <button  class="btnn fourth " style="cursor: pointer;"  (click)="export()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z"/>
          </svg>
          <h3 class="pt-1">{{ 'menu.export' | translate }}</h3>
        </button>
      </div>
      <div class="col-2">
        <button  class="btnn fourth " style="cursor: pointer;"  (click)="statistics()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
          </svg>
          <h3 class="pt-1">{{ 'menu.statistics' | translate }}</h3>
        </button>
      </div>

      <div class="col-2">
        <button  class="btnn fourth " style="cursor: pointer;"  (click)="saveTree()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
          </svg>
          <h3 class="pt-1">{{ 'menu.saveTree' | translate }}</h3>
        </button>
      </div>
    </div>

    <div *ngIf="showStatistics" class="container mt-3">
      <div class="row">
        <div class="alert-custom2 alert-custom-warning2">
          <span (click)="closeAlert1()" class="alert-custom2-close">&times;</span>
          {{ 'statistics.lifespan' | translate }} {{ averageLifespan.toFixed(0) }} years
          <br/>
          {{ 'statistics.numberOfChildren' | translate }} {{ averageNumberOfChildren.toFixed(0) }}
        </div>
      </div>
    </div>

    <div *ngIf="successfulExport" class="container mt-3">
      <div class="alert-custom1 alert-custom-warning1">
        <span (click)="closeAlert3()" class="alert-custom1-close">&times;</span>
        {{ 'message.successfulExport' | translate }}
      </div>
    </div>

    <div *ngIf="successfulSave" class="container mt-3">
      <div class="alert-custom1 alert-custom-warning1">
        <span (click)="closeAlert4()" class="alert-custom1-close">&times;</span>
        {{ 'message.successfulSave' | translate }}
      </div>
    </div>

    <div *ngIf="showErrorAlert" class="container mt-3">
      <div class="alert-custom alert-custom-warning">
        <span (click)="closeAlert2()" class="alert-custom-close">&times;</span>
        {{ errorAlertMessage }}
      </div>
    </div>

    <div class="container" *ngIf="showAddForm || !enteredMyself" style="width: 50vh;">
      <h1 *ngIf="!enteredMyself">{{ 'addform.letsStart' | translate }}</h1>

      <h1  *ngIf="showAddForm">{{ 'addform.enterInformationAbout' | translate }}{{ newPersonKind }} </h1>

      <h2 *ngIf="errorMissingInformation!=null" class="text_shadows1">{{ errorMissingInformation }}</h2>
      
            <div class="form-outline">
                  <label class="form-label" for="form3Example1m">{{ 'addform.firstName' | translate }}</label>
                  
                  <input name="v10" [(ngModel)]="newPersonName" type="text" id="form3Example1m" class="form-control form-control-lg" />
                 </div>

                <div class="form-outline">
                  <label class="form-label" for="form3Example1m">{{ 'addform.lastName' | translate }}</label>

                  <input name="v9" [(ngModel)]="newPersonSurname" type="text" id="form3Example1n" class="form-control form-control-lg" />
            </div>
  
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example8">{{ 'addform.dateOfBirth' | translate }}</label>

                <input name="v8" [(ngModel)]="newPersonDateOfBirth" type="date" id="form3Example8" class="form-control form-control-lg" />
            </div>
             
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example8">{{ 'addform.dateOfDeath' | translate }}</label>
 
              <input name="v7" [(ngModel)]="newPersonDateOfDeath" type="date" id="form3Example8" class="form-control form-control-lg" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example8">{{ 'addform.placeOfBirth' | translate }}</label> <br/>

            <select name="asd" [(ngModel)]="newPersonPlaceOfBirth"  class="form-select"  aria-label="Default select example">
              <option  selected>{{ 'addform.findYourCountry' | translate }}</option>
              <option  *ngFor="let c of countriesFiltered" >{{ c["name"] }}</option>
            </select>
  
             
            </div>
  
            <div class=" justify-content-start align-items-center mb-4 py-2">
                  <div class="row">
                      <div class="col">
                          <h6 class="mb-0 me-4">{{ 'addform.gender' | translate }} </h6>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="form-check form-check-inline mb-0 me-4">
                              <input name="v5" class="form-check-input" type="radio" [(ngModel)]="newPersonGender" name="inlineRadioOptions" id="femaleGender"
                                value="female" />
                              <label class="form-check-label" for="femaleGender">{{ 'addform.female' | translate }}</label>
                            </div>
                
                            <div class="form-check form-check-inline mb-0 me-4">
                              <input name="v4" class="form-check-input" type="radio" [(ngModel)]="newPersonGender" name="inlineRadioOptions" id="maleGender"
                              value="male" />
                              <label class="form-check-label" for="maleGender">{{ 'addform.male' | translate }}</label>
                            </div>
                      </div>
                  </div>
            </div>
  
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1c">{{ 'addform.picture' | translate }}</label>
              <input name="v15"  (change)="onFileSelected($event)" accept="image/*" type="file" id="form3Example1m" class="form-control form-control-lg" />
          
            </div>
           <div class="form-outline">
              <label class="form-label" for="form3Example1m">{{ 'addform.profession' | translate }}</label>
              <input name="v1" [(ngModel)]="newPersonProfession" type="text" id="form3Example1m" class="form-control form-control-lg" />
          </div>
  
       
  
            <div class="d-flex justify-content-center pt-3 pb-3">
              <button type="button" class="btn btn-warning btn-lg ms-2" (click)="addNewPerson()">{{ 'addform.createMe' | translate }}</button>
     
            </div>
    
        
    </div>
   
    <div
  class="modal" style="max-height: 90%; padding-top: 100px;" 
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(0,0,0,0); border: 0px; ">
      
     
        
       
     
      <div class="modal-body" style="background-color: rgba(0,0,0,0);">
        
        <div class="row" *ngIf="errorAddMessage!=null">
          <div class="box7">
            <h2 class="text_shadows">{{ errorAddMessage }}</h2>
          </div>
        </div>

        <div class="choice" *ngIf="addNew==true">
          <div class="box1" (click)="choosePersonKind(1)" >
            <div>
              {{ 'modal.addMother' | translate }}
            </div>
            <img src="assets/images/mother.png" width="50" height="50" alt="">
          </div>
          <div class="box2" (click)="choosePersonKind(2)">
            <div>
              {{ 'modal.addFather' | translate }}
            </div>
            <img src="assets/images/dad.png" width="50" height="50" alt="">
          </div>
          <div class="box5" (click)="choosePersonKind(5)">
            <div>
              {{ 'modal.addPartner' | translate }}
            </div>
            <img src="assets/images/relationship.png" width="50" height="50" alt="">
          </div>
          <div class="box3" (click)="choosePersonKind(3)">
            <div>
              {{ 'modal.addSibling' | translate }}
            </div>
            <img src="assets/images/sibling.png" width="50" height="50" alt="">
          </div>
          <div class="box4" (click)="choosePersonKind(4)">
            <div>
              {{ 'modal.addChild' | translate }}
            </div>
            <img src="assets/images/child.png" width="50" height="50" alt="">
          </div>
          <div class="box8" (click)="choosePersonKind(8)">
            <div>
              {{ 'modal.moveNode' | translate }}
            </div>
            <img src="assets/images/4arrows.png" width="50" height="50" alt="">
          </div>
          <div class="box9" (click)="searchTree()">
            <div>
              {{ 'modal.searchRelative' | translate }}
            </div>
            <img src="assets/images/search.png" width="50" height="50" alt="">
          </div>

          <div class="box6" (click)="choosePersonKind(6)">
            <div>
              {{ 'modal.notNow' | translate }}
            </div>
            <button type="button"  class="btn-close">
              <span class="icon-cross">X</span>
              <span class="visually-hidden">{{ 'modal.close' | translate }}</span>
            </button>
          </div>
        </div> 

        
       
      </div>
      
    </div>
  </div>
    </div>
    
    <div class="container" *ngIf="showClickMessage">
      <div class="row" >
        <div class="box7">
          <h2 class="text_shadows">
            <div>
              {{ 'message.clickWhereToPlace' | translate }}
            </div>
            </h2>
        </div>
      </div>
    </div>

    <div *ngIf="enteredMyself" class="bot">
      <div class="row justify-content-center align-items-center text-center" style="width: 70%;">
        <div class="col-1 kocke">
          <svg (click)="pomeri(1)" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </div>
        <div class="col-1 kocke">
          <svg (click)="pomeri(2)" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
          </svg>
        </div>
        <div class="col-1 kocke">
          <svg (click)="pomeri(3)" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
        <div class="col-1 kocke">
          <svg (click)="pomeri(4)" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
          </svg>
        </div>
        <div *ngIf="chosenNode!=null && !canEdit" class="col-2 pt-2">
          <div class="animated-button1" (click)="editPerson(1)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            <div>{{ 'menu.edit' | translate }}</div>
            
            
          </div>
          
        </div>

        <div *ngIf="chosenNode==null" class="col-2 pt-2">
          <div class="animated-button2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <div>{{ 'menu.edit' | translate }}</div>
            
            
          </div>
        </div>

        <div *ngIf="canEdit" class="col-2 pt-2">
          <div class="animated-button3" (click)="editPerson(2)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            <div>{{ 'menu.finish' | translate }}</div>
            
            
          </div>
        </div>

        <div *ngIf="undoNode!=null" class="col-2 pt-2">
          <div class="animated-button1" (click)=" undoPerson()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            <div>{{ 'menu.undo' | translate }}</div>
           
            
          </div>
        </div>
       
        <div *ngIf="undoNode==null" class="col-2 pt-2">
          <div class="animated-button2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            <div>{{ 'menu.undo' | translate }}</div>
            
          </div>
        </div>

      </div>
      
     
      
    </div>
    
    <canvas id="sloba" #canvas ></canvas>
   
    <div id="searchForm" style="padding-bottom: 100px;" *ngIf="showSearchForm">

      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(1)"><span>
              <div> {{ 'relatives.mother' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(2)"><span>
              <div>{{ 'relatives.father' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(3)"><span>
              <div>{{ 'relatives.brother' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(4)"><span>
              <div>{{ 'relatives.sister' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(5)"><span>
              <div>{{ 'relatives.grandfather' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(6)"><span>
              <div>{{ 'relatives.grandmother' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(7)"><span>
              <div>{{ 'relatives.greatgrandfather' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(8)"><span>
              <div>{{ 'relatives.greatgrandmother' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <div class="wrapper" style="width:max-content">
            <a (click)="highlight(9)"><span>
              {{ 'relatives.greatgreatgrandfather' | translate }}
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div  class="wrapper" style="width:max-content">
            <a (click)="highlight(10)"><span>
              {{ 'relatives.greatgreatgrandmother' | translate }}
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(11)"><span>
              <div>{{ 'relatives.son' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(12)"><span>
              <div>{{ 'relatives.daughter' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(13)"><span>
              <div>{{ 'relatives.ujak' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(14)"><span>
              <div>{{ 'relatives.ujna' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(15)"><span>
              <div>{{ 'relatives.stric' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2">
          <div class="wrapper">
            <a (click)="highlight(16)"><span>
              <div>{{ 'relatives.strina' | translate }}</div>
            </span></a>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

    <div *ngIf="canEdit" class="container pb-5">
  
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">{{ 'addform.firstName' | translate }}</label>

                <input name="v10" placeholder="{{ editNode.name }}" [(ngModel)]="editNode.name" type="text" id="form3Example1m" class="form-control form-control-lg" />
                </div>

              
            </div>
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">{{ 'addform.lastName' | translate }}</label>

                <input name="v10" placeholder="{{ editNode.surname }}" [(ngModel)]="editNode.surname"type="text" id="form3Example1m" class="form-control form-control-lg" />
                </div>

              
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">{{ 'addform.dateOfBirth' | translate }}</label>

                <input name="v10" value="{{ editNode.date_of_birth }}" [(ngModel)]="editPersonDateOfBirth" type="date" id="form3Example1m" class="form-control form-control-lg" />
                </div>

              
            </div>
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">{{ 'addform.dateOfDeath' | translate }}</label>
      
                <input name="v10" value="{{ editNode.date_of_death }}"  [(ngModel)]="editPersonDateOfDeath" type="date" id="form3Example1m" class="form-control form-control-lg" />
                
              </div>

              
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example8">{{ 'addform.placeOfBirth' | translate }}</label> <br/>

              <select name="asd" [(ngModel)]="editNode.place_of_birth" class="form-select"  aria-label="Default select example">
                
                <option value="" disabled selected>{{ editNode.place_of_birth }}</option>
                <option  *ngFor="let c of countriesFiltered" >{{ c["name"] }}</option>
              </select>
              </div>
            </div>
            <div class="col-6 pt-5">
              
  
              <div class="row">
                <div class="col">
                    <h6 class="mb-0 me-4">{{ 'addform.gender' | translate }} </h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline mb-0 me-4">
                        <input name="v5" class="form-check-input" type="radio" [(ngModel)]="editNode.gender" name="inlineRadioOptions" id="femaleGender"
                          value="female" />
                        <label class="form-check-label" for="femaleGender">{{ 'addform.female' | translate }}</label>
                      </div>
          
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input name="v4" class="form-check-input" type="radio" [(ngModel)]="editNode.gender" name="inlineRadioOptions" id="maleGender"
                        value="male" />
                        <label class="form-check-label" for="maleGender">{{ 'addform.male' | translate }}</label>
                      </div>
                </div>
            </div>

            </div>
          </div>
          <div class="row pb-3">
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">{{ 'addform.profession' | translate }}</label>

                <input name="v10" placeholder="{{ editNode.profession }}"  [(ngModel)]="editNode.profession" type="text" id="form3Example1m" class="form-control form-control-lg" />
                </div>

              
            </div>
            <div class="col-6">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">{{ 'addform.other' | translate }}</label>

                <input name="v10" placeholder="{{ editNode.other }}"  [(ngModel)]="editNode.other" type="text" id="form3Example1m" class="form-control form-control-lg" />
                </div>
            </div>

          </div>

        </div>
        <div id="editFields" *ngIf="editNode!=null" class="col-3">
          <div class="row">
            <img
              src="{{ editNode.picture }}"
              class="img-fluid rounded-circle"
              alt=""
              width="300"
              height="300"
            />
          </div>
          
          
          <div class="row">
            
             
                
              <input name="v15"  (change)="onFileSelected2($event)" accept="image/*" type="file" id="form3Example1m" class="form-control form-control-lg" />
          
        
            

            
            
          </div>
          
          
        </div>
      </div>
      
      
      <div  style="height: 100px;" class="row" >
        <div class="col" hidden></div>
      </div>
    </div>  
   
</div>



